<div class="page-wrapper chiller-theme toggled" style="direction: ltr;">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fa-light fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">پرو سایدبار</a>
          <div id="close-sidebar">
            <i class="fa-light fa-xmark"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="https://d2zcsajde7b23y.cloudfront.net/o/0e82bcfc4fcba819f16f830ac43ba52ae5fd405d.png"
              alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">ممد
              <strong>ممدی</strong>
            </span>
            <span class="user-role">ادمین</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>آنلانه</span>
            </span>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>عمومی</span>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-tachometer-alt"></i>
                <span>داشبورد</span>
                <span class="badge badge-pill badge-warning">جدید</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">داشبورد 1
                      <span class="badge badge-pill badge-success">پرو</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">داشبورد 2</a>
                  </li>
                  <li>
                    <a href="#">داشبورد 3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>متن</span>
                <span class="badge badge-pill badge-danger">3</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">محصولات
  
                    </a>
                  </li>
                  <li>
                    <a href="#">سفارش</a>
                  </li>
                  <li>
                    <a href="#">کارت</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="far fa-gem"></i>
                <span>کامپوننت</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">کامپوننت</a>
                  </li>
                  <li>
                    <a href="#">کامپوننت</a>
                  </li>
                  <li>
                    <a href="#">کامپوننت</a>
                  </li>
                  <li>
                    <a href="#">کامپوننت</a>
                  </li>
                  <li>
                    <a href="#">کامپوننت</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-chart-line"></i>
                <span>Charts</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Pie chart</a>
                  </li>
                  <li>
                    <a href="#">Line chart</a>
                  </li>
                  <li>
                    <a href="#">Bar chart</a>
                  </li>
                  <li>
                    <a href="#">Histogram</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-globe"></i>
                <span>Maps</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Google maps</a>
                  </li>
                  <li>
                    <a href="#">Open street map</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-menu">
              <span>Extra</span>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-book"></i>
                <span>Documentation</span>
                <span class="badge badge-pill badge-primary">Beta</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Calendar</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>Examples</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
        <a href="#">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        <a href="#">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </nav>
  </div>
  <!-- page-wrapper -->